* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    position: sticky;
    top: 0;
    z-index: 1;

}

.head-background {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100vw;   
 background-color: #10BBD5;
}
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 52px;
    background-color: #10BBD5;
    width: 1400px;
}

.bookRead {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bookRead-style {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sum {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.sum-style {
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.header-button {
    position: relative;
}

.basket {
    background-image: url(/images/cart_icon.svg);
    background-size: cover;
    border: none;
    background-color: #10BBD5;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.zero {
    position: absolute;
    top: 13px;
    right: 12px;
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 83.333% */
}

.menu-background {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100vw;   
 background-color: #FFF;
}
.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 52px;
    width: 1400px;
    background: #FFF;
}

.menu-style {
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.right-part-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

/* Img-comment */
.comment {
    width: 1400px;
    position: fixed;
    top: 700px;
    display: flex;
    justify-content: end;
    z-index: 1;
}

.comment-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10BBD5;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: 0.5s;
}

.comment-style:hover {
    transform: rotate(35deg);
}


/* Main */
.main-background {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100vw;   
 background-color: #EEEEEF;
}
.main {
    display: flex;
    flex-direction: column;
    background-color: #EEEEEF;
    padding-bottom: 120px;
}

.title {
    margin: 32px 52px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;

}

.title-style {
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 125% */
}

.main-card {
    margin-top: 24px;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 24px 52px 0 52px;
    gap: 32px;
}

.card {
    width: 1296px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.card-content {
    width: 306px;
    background-color: white;
    padding: 32px;
    border: 1px solid #A8A8A8;
    position: relative;
}

/* Img */
.img {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 241px;
    height: 280px;
}

.photo {
    width: 178px;
    height: 280px;
}

/* Badge */
.badge-style {
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.badge-button {
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hit {
    background-color: #4200FF;
}

.new {
    background-color: #AF39E7;
}

.discount {
    background-color: #EA33C0;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 5px;
}


/* Card-text */
.card-text {
    margin: 16px 0px;
}

.card-text-style {
    width: 242px;
    border-bottom: 1px solid #A8A8A8;
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 140% */
}

.card-text-style-o {
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin-bottom: 8px;
}


/* Price */
.main-price {
    display: flex;
    gap: 24px;
}

.price {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
}

.price-other {
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 133.333% */
    text-decoration-line: strikethrough;
}

/* Button-card */
.button {
    width: 241px;
    padding: 8px 24px;
    border: none;
    background-color: #4C394E;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.text-button {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.button:hover {
    background-color: #744978;
}

.other {
    background-color: #4D762D;
}

.other:hover {
    background-color: #6DB236;
}



.footer-background {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100vw;   
 background-color: #4C394E;
}
.footer {
    width: 1400px;
    padding: 32px 52px;
    background-color: #4C394E;
    display: flex;
    justify-content: space-between;
}

.footer-style {
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}